<article>
<section id="welcome">
  <h1><%= t('.welcome') %></h1>
  <p>
  <%= t(".intro") %>
  </p>
</section>
<section id="source">
<h2><%= t(".source") %></h2>
<p>
<%= t(".about_source") %>
<a href="http://www.github.com/indiebrain/shortly">
  http://www.github.com/indiebrain/shortly
</a>
</p>
</section>
<section id="author">
  <h2><%= t('.author') %></h2>
  <p>
    <%= t(".about_author") %>
  </p>
  <ul>
    <li><a href="http://www.aaronkuehler.com">Website</a><li>
    <li><a href="http://www.github.com/indiebrain">Github</a></li>
    <li><a href="http://www.twitter.com/indiebrain">Twitter</a><li>
    <li><a href="http://www.linkedin.com/aaron.kuehler">LinkedIn</a></li>
  </ul>
  </p>
</section>
</article>
