<table id="links" class="tables">
<thead>
  <tr>
    <th><%= t(".short_url") %></th>
    <th><%= t(".full_url") %></th>
  </tr>
</thead>
<tbody>
  <% @links.each do |link| %>
  <tr id="<%= "link-#{link.id}" %>">
    <td class="short-url">
      <a href="<%= redirect_url(link.token) %>"><%= redirect_url(link.token) %></a>
    </td>
    <td class="url"><%= link.url %></td>
  </tr>
  <% end %>
</tbody>
</table>
