<%= link_to t(".new_link"), new_link_path  %>

<table class="tables">
  <thead>
    <tr>
      <th>Original</th>
      <th>Srink URL</th>
      <th>Visits</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @links.each do |link| %>
      <tr id="<%= "link-#{link.id}" %>">
        <td><%= link.url %></td>
        <td><a href="<%= redirect_url(link.token) %>" data-turbolinks="false"><%= redirect_url(link.token) %></a></td>
        <td><%= link.visits.size %></td>
        <td><%= button_to "Delete", link_path(link), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
